<% content_for(:title) { @genre.name } %>

<section class="hero is-warning mt-5">
  <div class="hero-body">
    <p class="title"><%= @genre.name %></p>
    <p class="subtitle">Tracks in <%= @genre.name %> (alphabetical order):</p>
  </div>
</section>

<div class="mt-6 mb-6">
  <%= will_paginate @tracks %>
</div>

<div class="mt-5">
  <% @tracks.each do |track| %>
  <div class="box has-background-danger-dark">
    <%= link_to track.name, track %>
  </div>
  <% end %>
</div>

<div class="mt-6 mb-6">
  <%= will_paginate @tracks %>
</div>
